html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0%;
}
.join-or-sign {
    background-color: rgb(247, 40, 40);
    margin: 0px;
}

#top-text {
    color: white;
    padding: 5px;
    font-family:cursive;
    padding-left: 20px;
    margin: 0%;
    
}
a {
    text-decoration: none;
}
#top-text:hover  {
    color: rgb(255, 230, 0);
    text-decoration: underline;
}
.logo {
    
   
    height: 300px;
    width: auto;
}
.link {
    
    float: right;
    text-align: center;
    padding-left: 60px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-right: 50px;
    font-size: 40px;
    margin-top: 120px;
    font-family: 'Courier New', Courier, monospace;
  }
  .header-below {
      padding-top: 0px;
      background-color: rgb(46, 46, 46);
 
  }
  #badge {
     letter-spacing: 10px; 
  }

.link:hover {
   
  color: rgb(179, 255, 0);
  border-bottom: 3px solid rgb(179, 255, 0);
  
}
#hom {
    color: rgb(179, 255, 0);
    border-bottom: 3px solid rgb(179, 255, 0);
}
